.zone {
   
    
    display:inline-block;
    
    font-size:2em;
    
    border:1px solid #bbb;
    transition: all 0.3s linear;
}


/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/



body{
    margin: auto;
    
}
.green{
    position: fixed;
    width: 100%;
    padding-top: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    
    display: block;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:LightGray;
    background-color:hsla(9, 100%, 64%, 0.2);
    }


/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    
   flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-image: url(cityscape.jpg) ;
    background-size: cover;
    background-position: center;
    
    align-items: center;



}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    display: flex;
    justify-content: center;
    background-image: url(blue1.png) ;
    background-size: cover;
    
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue3{
    display: flex;
     
    background-image: url(blue1.png) ;
    background-size: cover;
    

    }
.blue2{
    display: flex;
     
    background-image: url(pink1.jpg);
    background-size: cover;
    justify-content: flex-end;

    }
.blue1{
    display: flex;
     
    background-image: url(blue1.png) ;
    background-size: cover;
    background-size:

    
    

    }



img{
    
    max-height: 15em;
    display: flex;
    flex-wrap: wrap;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
   
    
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 16px;
    margin: 0px 0px 0px 0px;
    
    color: white;
    float: left;
    font-size: 1.2rem;
}

.grid-item {
  
  border: 0.1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  

  }

.container_text{
    display: inline-block;
    text-align: left;
    padding-left: 50px;
    padding-top: 65px;
    padding-bottom: 65px; 
    color: #fff;
    max-width: 900px;

}

.container_text2{
    display: inline-block;
    text-align: left;
    padding-left: 50px;
    padding-top: 65px;
    padding-bottom: 65px; 
    color: #fff;
    max-width: 900px;
}
.container_text3{
    display: inline-block;
    text-align: right;
    padding-right: 50px;
    padding-top: 65px;
    padding-bottom: 65px; 
    color: #fff;
    max-width: 900px;

}

.container_text4{
    font-family: 'Saira Stencil One', cursive;
    font-size: 70px;
    color: #fff;
    padding: 25px;
    border-radius: 25px 1px 25px 1px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.special{

    margin-left: auto;
}

.header_cls{
    display: flex;
}

.cont{
    height: 50vh;

}

.cover{
    width: 30rem;
    height: 15rem;
    box-shadow: none;
    
}

